.navv{
	background-color: #fcfcfc;
	padding: 10px;
	margin: 20px 0 20px 0;
	.menu{
			display: inline-block;
			margin-left: 20px;
			img{
					width: auto;
			}
	}
	.user{
			display: inline-block;
			//maxMobile
			@media(max-width:767px){
					float: left;
			}
			img{
					display: inline-block;
					width: 45px;
					height: 45px;
					border-radius: 50px;
					margin: 0 0 0 5px;
					//maxMobile
					@media(max-width:767px){
							width: 40px;
							height: 40px;
					}
			}
			h3{
					display: inline-block;
					font-size: 18px;
					font-family: 'cairoR';
					color: $textColor;
					//maxMobile
					@media(max-width:767px){
							display: none;
					}
			}
	}
	.notification{
			display: inline-block;
			position: relative;
			float: left;
			//maxMobile
			@media(max-width:767px){
					left: 12px;
					top: 7px;
			}
			cursor: pointer;
			span{
					position: absolute;
					color: #fff;
					background-color: #FB8372;
					width: 19px;
					height: 19px;
					border-radius: 50px;
					text-align: center;
					right: -4px;
					top: -6px;
					font-size: 10px;
					padding: 2px 0 0 1px;
			}
			img{
					width: auto;
			}
	}
}
/*--- End navbar ---*/