/*--- START Account popup ---*/
.backButton {
    cursor: pointer;
    transition: transform 100ms ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}
.backAccount {
    display: block;
    text-align: right; // Addedd by almudather
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 30;
    background: #fcfcfc;
    
    .content{
        background-color: #fff;
        margin: 42px auto;
        max-width: 400px;
        border-radius: 63px;
        height: auto;
        padding: 20px;
        position: relative;
        box-shadow: 7px 7px 10px #b7b7b747;
        //maxMobile
        @media(max-width:767px){
            width: 100%;
            padding: 10px;
        }
        .hedTop{
            position: relative;
            svg{
                position: absolute;
                top: -20px;
                right: -20px;
                width: auto;
                height: 161.1px;
                //maxMobile
                @media(max-width:767px){
                    width: 106%;
                    right: -10px;
                    top: -23px;
                }
            }
            h3{
                color: $textColor;
                font-size: 19px;
                font-family: 'cairoR';
                position: relative;
                text-align: center;
                top: 16px;
            }
            img{
                position: absolute;
                top: 16px;
            }
        }
        /*-- login form --*/
        .login{
            display: block;
            margin: 86px 0 25px 0;
            .logBy{
                margin: 0 auto 26px auto;
                text-align: center;
                .social{
                    display: inline-block;
                    cursor: pointer;
                    margin: 0 13px 0 0;
                    background-color: #fff;
                    padding: 5px;
                    @include prefixer( box-shadow, 0px 4px 10px #e4e4e45c, webkit moz o);
                    width: 74px;
                    height: 47px;
                    text-align: center;
                    line-height:2;
                    border-radius: 36px;
                    cursor: pointer;
                    img{
                        width: auto;
                    }
                }
            }
            form{
                position: relative;
                margin: 0;
                overflow: hidden;
                padding: 0 0 0 16px;
                .inp{
                    position: relative;
                    margin-bottom: 15px;
                    img{
                        position: absolute;
                        top: 22px;
                        right: 12px;
                    }
                    input{
                        padding: 10px;
                        border: 1px solid #E1E1E1;
                        color: $textColor;
                        font-size: 17px;
                        font-family: 'cairoR';
                        padding: 0px 37px 0 0;
                        height: 54px;
                        width: 100%;
                        border-radius: 50px;
                        outline: none;
                        ::placeholder{
                            font-size: 14px;
                            font-family: 'cairoR';
                        }
                    }
                }
                .forget{
                    h3{
                        font-size: 11px;
                        font-family: 'cairoR';
                        color: $textColor;
                        margin: 0 5px 0 0;
                        display: inline-block;
                        position: relative;
                        top: -5px;
                        a{
                            text-decoration: none;
                            span{
                                color: $yalloColor;
                            }
                        }
                    }
                }
                .next{
                    position: relative;
                    height: 66px;
                    margin: 0 0 -3px 0;
                    .nexx{
                        position: absolute;
                        top: 6px;
                        left: 0;
                        width: auto;
                    }
                    img{
                        position: absolute;
                        width: auto;
                        left: 18px;
                        top: 20px;
                    }
                }
            }
            .creat{
                text-align: center;
                position: relative;
                margin: -12px 0 12px 0;
                .orr{
                    position: relative;
                    margin: 0 auto;
                    max-width: 41px;
                    svg{
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    span{
                        font-size: 18px;
                        color: $textColor;
                        font-family: 'cairoR';
                        position: relative;
                        top: 5px;
                        left: 1px;
                    }
                }
                a{
                    text-decoration: none;
                    h3{
                        font-size: 18px;
                        color: $textColor;
                        font-family: 'cairoR';
                        display: block;
                        text-align: center;
                        margin: 38px 0 0 0;
                    }
                }
            }
        }
        /*-- Signin form --*/
        .signup{
            display: block;
            margin: 86px 0 25px 0;
            .logBy{
                margin: 0 auto 26px auto;
                text-align: center;
                .social{
                    display: inline-block;
                    cursor: pointer;
                    margin: 0 13px 0 0;
                    background-color: #fff;
                    padding: 5px;
                    @include prefixer( box-shadow, 0px 4px 10px #e4e4e45c, webkit moz o);
                    width: 74px;
                    height: 47px;
                    text-align: center;
                    line-height:2;
                    border-radius: 36px;
                    cursor: pointer;
                    img{
                        width: auto;
                    }
                }
            }
            form{
                position: relative;
                margin: 0;
                overflow: hidden;
                padding: 0 0 0 16px;
                .inp{
                    position: relative;
                    margin-bottom: 15px;
                    .closee{
                        position: absolute;
                        top: 22px;
                        left: 12px !important;
                    }
                    img{
                        position: absolute;
                        top: 22px;
                        right: 12px;
                    }
                    input{
                        padding: 10px;
                        border: 1px solid #E1E1E1;
                        color: $textColor;
                        font-size: 17px;
                        font-family: 'cairoR';
                        padding: 0px 37px 0 0;
                        height: 54px;
                        width: 100%;
                        border-radius: 50px;
                        outline: none;
                        ::placeholder{
                            font-size: 14px;
                            font-family: 'cairoR';
                        }
                    }
                }
                .forget{
                    h3{
                        font-size: 11px;
                        font-family: 'cairoR';
                        color: $textColor;
                        margin: 0 5px 0 0;
                        display: inline-block;
                        position: relative;
                        top: -5px;
                        a{
                            text-decoration: none;
                            span{
                                color: $yalloColor;
                            }
                        }
                    }
                }
                .next{
                    position: relative;
                    height: 66px;
                    margin: 0 0 -3px 0;
                    .nexx{
                        position: absolute;
                        top: 6px;
                        left: 0;
                        width: auto;
                    }
                    img{
                        position: absolute;
                        width: auto;
                        left: 18px;
                        top: 20px;
                    }
                }
            }
        }
        /*-- Reset Password --*/
        .resetPass{
            display: block;
            margin: 121px 0 0 0;
            form{
                position: relative;
                margin: 0 0 7px 0;
                overflow: hidden;
                padding: 0 0 0 16px;
                .inp{
                    position: relative;
                    margin-bottom: 15px;
                    img{
                        position: absolute;
                        top: 22px;
                        right: 12px;
                    }
                    input{
                        padding: 10px;
                        border: 1px solid #E1E1E1;
                        color: $textColor;
                        font-size: 17px;
                        font-family: 'cairoR';
                        padding: 0px 37px 0 0;
                        height: 54px;
                        width: 100%;
                        border-radius: 50px;
                        outline: none;
                        ::placeholder{
                            font-size: 14px;
                            font-family: 'cairoR';
                        }
                    }
                }
                .next{
                    position: relative;
                    opacity: 1;
                    transition: all ease-in-out .4s;
                    .nexx{
                        position: absolute;
                        top: -58px;
                        left: 8px;
                        width: auto;
                    }
                    img{
                        position: absolute;
                        width: 16px;
                        left: 19px;
                        top: -50px;
                        height: 16px
                    }
                }
            }
        }
        /*-- Confirm Password --*/
        .confirm{
            display: block;
            margin: 121px 0 0 0;
            .imaagg{
                text-align: center;
                margin: -27px 0 22px 0;
                img{
                    width: 102px;
                    height: 85px;
                    margin: 0 0 26px 0;
                } 
                p{
                    color: #949494;
                    font-size: 17px;
                    font-family: 'cairoR';
                }
             }
        }
        .activateAcco{
            display: none;
            margin: 121px 0 0 0;
            .imaagg{
                text-align: center;
                margin: -27px 0 22px 0;
                img{
                    width: auto;
                    margin: 0 0 26px 0;
                } 
                p{
                    color: #949494;
                    font-size: 17px;
                    font-family: 'cairoR';
                }
             }
        }
    }
}
/*--- End Account popup ---*/
