/*-- font style --*/
@font-face {
  font-family: "cairoB";
  src: url("../font/Cairo-Bold.ttf");
}

@font-face {
  font-family: "cairoR";
  src: url("../font/Cairo-Regular.ttf");
}

@font-face {
  font-family: "airR";
  src: url("../font/AirStripR.ttf");
}

/*-- import --*/
/* 
** Mixin overlay
*/
/*
**prefixes Mixin
**Auto add prefixes To Propret
*/
/*--- Start Header ---*/
.top {
  background-color: #104982;
  width: 100%;
  height: auto;
  padding: 0 3% 0 3%;
}

.top .minlog {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 14px;
}

.top .minlog .menu img {
  width: auto;
  margin-top: 15px;
}

.top .minlog .logo {
  margin: 0 46px 0px 0;
}

.top .minlog .logo img {
  width: auto;
}

.top .search {
  margin-top: 14px;
  padding: 0 13% 0 9%;
}

.top .search form {
  position: relative;
}

.top .search form input {
  width: 100%;
  height: 48px;
  padding: 15px;
  font-size: 17px;
  font-family: 'cairoR';
  border-radius: 50px;
  border: 0;
  background-color: #4e78a2;
  color: #fff;
  outline: 0;
}

.top .search form input::-webkit-input-placeholder {
  color: #CECECE !important;
  font-size: 14px;
  font-family: 'cairoR';
}

.top .search form input:-ms-input-placeholder {
  color: #CECECE !important;
  font-size: 14px;
  font-family: 'cairoR';
}

.top .search form input::-ms-input-placeholder {
  color: #CECECE !important;
  font-size: 14px;
  font-family: 'cairoR';
}

.top .search form input::placeholder {
  color: #CECECE !important;
  font-size: 14px;
  font-family: 'cairoR';
}

.top .search form button {
  width: 47px;
  height: 40px;
  color: #7B7B7B;
  position: absolute;
  left: 6px;
  top: 4px;
  font-size: 16px;
  outline: 0;
}

.top .search form button img {
  margin-left: 0px;
}

.top .account {
  margin-top: 17px;
  text-align: center;
  padding: 0 0% 0 14%;
}

.top .account .sign {
  height: 41px;
  color: #fff;
  background-color: #1C508D;
  border-radius: 50px;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  overflow: hidden;
}

.top .account .sign a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}

.top .account .sign a img {
  margin-left: 0;
}

.top .account .sign a h3 {
  display: inline-block;
  font-size: 16px;
  font-family: 'cairoR';
}

.top .account .login {
  height: 41px;
  color: #926D05;
  background-color: #FCC74C;
  border-radius: 50px;
  padding: 7px 15px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
}

.top .account .login a {
  text-decoration: none;
  font-size: 16px;
  color: #926D05;
}

.top .account .login a img {
  margin-left: 0;
}

.top .account .login a h3 {
  display: inline-block;
  font-size: 16px;
  font-family: 'cairoR';
}

.top .lang {
  margin-top: 17px;
  background-color: #215296;
  cursor: pointer;
  width: 90px;
  height: 39px;
  border-radius: 50px;
  padding: 5px;
  overflow: hidden;
  text-align: center;
  float: left;
}

.top .lang img {
  display: inline-block;
  margin-right: 4px;
}

.top .lang h3 {
  color: #fff;
  font-size: 16px;
  font-family: 'cairoR';
  display: inline-block;
}

.top .lang .contry {
  display: inline-block;
}

/*--- End navbar ---*/
/*--- Start Header ---*/
.header {
  position: relative;
}

.header .svgDown {
  position: relative;
  width: 100.2%;
  height: auto;
  left: 1px;
  top: 0;
}

.header .cn {
  position: relative;
  width: 100%;
  height: 522px;
  overflow: hidden;
  background-color: #104982;
  padding: 0px 11% 0 0;
}

@media (min-width: 320px) and (max-width: 991px) {
  .header .cn {
    color: green;
    height: 921px;
  }
}

@media (min-width: 320px) and (max-width: 700px) {
  .header .cn {
    color: red;
    height: 921px;
  }
}

.header .cn .swiper-container {
  overflow: visible !important;
  position: relative;
}

.header .cn .swiper-container .swiper-pagination {
  position: absolute;
  top: 237px;
  right: -99px;
}

.header .cn .swiper-container .swiper-pagination span {
  width: 6.33px !important;
  height: 34px !important;
  background-color: #7999b9 !important;
  opacity: 100%;
  margin: 0 0 12px 0;
  border-radius: 5px !important;
  -webkit-transition: all 0.3s ease-in !important;
  transition: all 0.3s ease-in !important;
}

.header .cn .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff !important;
  height: 50px !important;
  -webkit-transition: all 0.3s ease-in !important;
  transition: all 0.3s ease-in !important;
}

.header .cn .showImage {
  position: relative;
  margin: 8px 0 0 0;
}

.header .cn .showImage .frame {
  position: absolute;
  left: 0;
  top: -21px;
  width: auto;
}

.header .cn .showImage .box {
  width: 513px;
  height: 536px;
  overflow: hidden;
  margin: 0 -11px 0 0;
}

@media (min-width: 320px) and (max-width: 700px) {
  .header .cn .showImage .box {
    height: 477px;
    width: 537px;
    margin: 0 -59px 0 0;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .header .cn .showImage .box {
    height: 477px;
    width: 537px;
    margin: 0 -59px 0 0;
  }
}

.header .cn .showImage .box img {
  width: 100%;
}

.header .cn .content {
  margin: 144px 0 0 0;
  position: relative;
}

@media (min-width: 320px) and (max-width: 700px) {
  .header .cn .content {
    color: red;
    margin: 98px 0 0 0;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .header .cn .content {
    margin: 98px 0 0 0;
  }
}

.header .cn .content .point-1 {
  position: absolute;
  top: -111px;
  left: 7px;
  width: auto;
}

@media (min-width: 320px) and (max-width: 700px) {
  .header .cn .content .point-1 {
    top: 80px;
    left: 0;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .header .cn .content .point-1 {
    top: 80px;
    left: 0;
  }
}

.header .cn .content .point-2 {
  position: absolute;
  top: -22px;
  right: -14px;
  width: auto;
}

.header .cn .content h2 {
  font-size: 25px;
  color: #ffff;
  font-family: 'cairoR';
  margin: 0 0 30px 0;
  line-height: 40px;
}

@media (min-width: 320px) and (max-width: 991px) {
  .header .cn .content h2 {
    color: green;
  }
}

@media (min-width: 320px) and (max-width: 700px) {
  .header .cn .content h2 {
    color: red;
  }
}

.header .cn .content p {
  color: #fff;
  font-size: 18px;
  font-family: 'cairoR';
  line-height: 1.8;
  padding: 0 0 0 14%;
}

@media (min-width: 768px) {
  .header .cn .content p {
    font-size: 16px;
  }
}

/*--- End Header ---*/
button {
  font-size: 18px;
  font-family: 'cairoR';
  width: 177px;
  height: 56px;
  color: #7B7B7B;
  background-color: #F8FAFC;
  border-radius: 50px;
  border-radius: 50px;
  border: none;
  box-shadow: 2px 9px 18.79px 2.21px rgba(147, 147, 147, 0.14);
  -webkit-box-shadow: 2px 9px 18.79px 2.21px rgba(147, 147, 147, 0.14);
  -o-box-shadow: 2px 9px 18.79px 2.21px rgba(147, 147, 147, 0.14);
  -ms-box-shadow: 2px 9px 18.79px 2.21px rgba(147, 147, 147, 0.14);
  box-shadow: 2px 9px 18.79px 2.21px rgba(147, 147, 147, 0.14);
  outline: 0;
}

input {
  outline: 0;
  border: 1px solid #E1E1E1;
  width: 100%;
  height: 52px;
  outline: 0;
  padding: 0px 37px 0 0;
  overflow: hidden;
  border-radius: 100px;
  font-family: 'cairoR';
}

a {
  text-decoration: none;
}

/*--- Start Footer ---*/
footer {
  padding: 10px 0;
  margin: 150PX  0 0 0;
}

footer .support {
  cursor: pointer;
  text-align: center;
  position: fixed;
  bottom: 64px;
  right: 17px;
  z-index: 5;
}

footer .support img {
  width: auto;
}

footer .foo {
  background-color: #f9f9f9;
}

footer .foo .copright {
  text-align: center;
  background-color: #f9f9f9;
  width: 173px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 55px;
  position: relative;
  top: -41px;
}

footer .foo .copright h3 {
  font-size: 16px;
  color: #5666B9;
  font-family: 'cairoB';
  margin: 0 auto;
  line-height: 1.5;
  position: relative;
  width: 161px;
  top: -35px;
  text-align: center;
}

footer .foo .copright h3 span {
  color: #5666B9;
  font-family: 'cairoB';
}

footer .foo .copright .logos {
  position: relative;
  margin: -42px 0 0 0;
  text-align: center;
}

footer .foo .copright .logos img {
  width: auto;
}

footer .foo .method {
  text-align: center;
  margin: -54px 0 0 0;
}

footer .foo .method ul {
  list-style: none;
  margin: 0;
}

footer .foo .method ul h3 {
  color: #7B7B7B;
  font-size: 18px;
  font-family: 'cairoR';
  display: inline-block;
  margin-left: 10px;
}

footer .foo .method ul li {
  margin-left: 20px;
  display: inline-block;
}

/*--- End Footer ---*/
/*-- body style --*/
body {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

.noPadding {
  padding: 0px;
}

.web {
  position: relative;
  overflow: hidden;
}

/*--- START Account popup ---*/
.backAccount {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 30;
  background: rgba(12, 122, 216, 0.8);
}

.backAccount .clos {
  position: relative;
  margin: 0 auto;
  height: 52px;
  width: 38px;
  cursor: pointer;
}

.backAccount .clos svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.backAccount .clos img {
  position: absolute;
  width: auto;
  top: 24px;
  right: 11px;
}

.backAccount .content {
  background-color: #fff;
  margin: 42px auto;
  max-width: 400px;
  border-radius: 63px;
  height: auto;
  padding: 20px;
  position: relative;
  /*-- login form --*/
  /*-- Signin form --*/
  /*-- Reset Password --*/
  /*-- Confirm Password --*/
}

.backAccount .content .hedTop {
  position: relative;
}

.backAccount .content .hedTop svg {
  position: absolute;
  top: -20px;
  right: -20px;
  width: auto;
  height: 161.1px;
}

.backAccount .content .hedTop h3 {
  color: #7B7B7B;
  font-size: 19px;
  font-family: 'cairoR';
  position: relative;
  text-align: center;
  top: 16px;
}

.backAccount .content .hedTop img {
  position: absolute;
  top: 16px;
}

.backAccount .content .login {
  display: none;
  margin: 86px 0 25px 0;
}

.backAccount .content .login .logBy {
  margin: 0 auto 26px auto;
  text-align: center;
}

.backAccount .content .login .logBy .social {
  display: inline-block;
  cursor: pointer;
  margin: 0 13px 0 0;
  background-color: #fff;
  padding: 5px;
  -webkit-box-shadow: 0px 4px 10px #e4e4e45c;
  -o-box-shadow: 0px 4px 10px #e4e4e45c;
  box-shadow: 0px 4px 10px #e4e4e45c;
  width: 74px;
  height: 47px;
  text-align: center;
  line-height: 2;
  border-radius: 36px;
  cursor: pointer;
}

.backAccount .content .login .logBy .social img {
  width: auto;
}

.backAccount .content .login form {
  position: relative;
  margin: 0;
  overflow: hidden;
  padding: 0 0 0 16px;
}

.backAccount .content .login form .inp {
  position: relative;
  margin-bottom: 15px;
}

.backAccount .content .login form .inp img {
  position: absolute;
  top: 22px;
  right: 12px;
}

.backAccount .content .login form .inp input {
  padding: 10px;
  border: 1px solid #E1E1E1;
  color: #7B7B7B;
  font-size: 17px;
  font-family: 'cairoR';
  padding: 0px 37px 0 0;
  height: 54px;
}

.backAccount .content .login form .inp input ::-webkit-input-placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backAccount .content .login form .inp input :-ms-input-placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backAccount .content .login form .inp input ::-ms-input-placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backAccount .content .login form .inp input ::placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backAccount .content .login form .forget h3 {
  font-size: 11px;
  font-family: 'cairoR';
  color: #7B7B7B;
  margin: 0 5px 0 0;
  display: inline-block;
  position: relative;
  top: -5px;
}

.backAccount .content .login form .forget h3 a {
  text-decoration: none;
}

.backAccount .content .login form .forget h3 a span {
  color: #FCC74C;
}

.backAccount .content .login form .next {
  position: relative;
  height: 66px;
  margin: 0 0 -3px 0;
}

.backAccount .content .login form .next .nexx {
  position: absolute;
  top: 6px;
  left: 0;
  width: auto;
}

.backAccount .content .login form .next img {
  position: absolute;
  width: auto;
  left: 18px;
  top: 20px;
}

.backAccount .content .login .creat {
  text-align: center;
  position: relative;
  margin: -12px 0 12px 0;
}

.backAccount .content .login .creat .orr {
  position: relative;
  margin: 0 auto;
  max-width: 41px;
}

.backAccount .content .login .creat .orr svg {
  position: absolute;
  top: 0;
  left: 0;
}

.backAccount .content .login .creat .orr span {
  font-size: 18px;
  color: #7B7B7B;
  font-family: 'cairoR';
  position: relative;
  top: 5px;
  left: 1px;
}

.backAccount .content .login .creat a {
  text-decoration: none;
}

.backAccount .content .login .creat a h3 {
  font-size: 18px;
  color: #7B7B7B;
  font-family: 'cairoR';
  display: block;
  text-align: center;
  margin: 38px 0 0 0;
}

.backAccount .content .signup {
  display: none;
  margin: 86px 0 25px 0;
}

.backAccount .content .signup .logBy {
  margin: 0 auto 26px auto;
  text-align: center;
}

.backAccount .content .signup .logBy .social {
  display: inline-block;
  cursor: pointer;
  margin: 0 13px 0 0;
  background-color: #fff;
  padding: 5px;
  -webkit-box-shadow: 0px 4px 10px #e4e4e45c;
  -o-box-shadow: 0px 4px 10px #e4e4e45c;
  box-shadow: 0px 4px 10px #e4e4e45c;
  width: 74px;
  height: 47px;
  text-align: center;
  line-height: 2;
  border-radius: 36px;
  cursor: pointer;
}

.backAccount .content .signup .logBy .social img {
  width: auto;
}

.backAccount .content .signup form {
  position: relative;
  margin: 0;
  overflow: hidden;
  padding: 0 0 0 16px;
}

.backAccount .content .signup form .inp {
  position: relative;
  margin-bottom: 15px;
}

.backAccount .content .signup form .inp .closee {
  position: absolute;
  top: 22px;
  left: 12px !important;
}

.backAccount .content .signup form .inp img {
  position: absolute;
  top: 22px;
  right: 12px;
}

.backAccount .content .signup form .inp input {
  padding: 10px;
  border: 1px solid #E1E1E1;
  color: #7B7B7B;
  font-size: 17px;
  font-family: 'cairoR';
  padding: 0px 37px 0 0;
  height: 54px;
}

.backAccount .content .signup form .inp input ::-webkit-input-placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backAccount .content .signup form .inp input :-ms-input-placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backAccount .content .signup form .inp input ::-ms-input-placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backAccount .content .signup form .inp input ::placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backAccount .content .signup form .forget h3 {
  font-size: 11px;
  font-family: 'cairoR';
  color: #7B7B7B;
  margin: 0 5px 0 0;
  display: inline-block;
  position: relative;
  top: -5px;
}

.backAccount .content .signup form .forget h3 a {
  text-decoration: none;
}

.backAccount .content .signup form .forget h3 a span {
  color: #FCC74C;
}

.backAccount .content .signup form .next {
  position: relative;
  height: 66px;
  margin: 0 0 -3px 0;
}

.backAccount .content .signup form .next .nexx {
  position: absolute;
  top: 6px;
  left: 0;
  width: auto;
}

.backAccount .content .signup form .next img {
  position: absolute;
  width: auto;
  left: 18px;
  top: 20px;
}

.backAccount .content .resetPass {
  display: block;
  margin: 121px 0 0 0;
}

.backAccount .content .resetPass form {
  position: relative;
  margin: 0 0 7px 0;
  overflow: hidden;
  padding: 0 0 0 16px;
}

.backAccount .content .resetPass form .inp {
  position: relative;
  margin-bottom: 15px;
}

.backAccount .content .resetPass form .inp img {
  position: absolute;
  top: 22px;
  right: 12px;
}

.backAccount .content .resetPass form .inp input {
  padding: 10px;
  border: 1px solid #E1E1E1;
  color: #7B7B7B;
  font-size: 17px;
  font-family: 'cairoR';
  padding: 0px 37px 0 0;
  height: 54px;
}

.backAccount .content .resetPass form .inp input ::-webkit-input-placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backAccount .content .resetPass form .inp input :-ms-input-placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backAccount .content .resetPass form .inp input ::-ms-input-placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backAccount .content .resetPass form .inp input ::placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backAccount .content .resetPass form .next {
  position: relative;
  opacity: 1;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}

.backAccount .content .resetPass form .next .nexx {
  position: absolute;
  top: -58px;
  left: 8px;
  width: auto;
}

.backAccount .content .resetPass form .next img {
  position: absolute;
  width: 16px;
  left: 19px;
  top: -50px;
  height: 16px;
}

.backAccount .content .confirm {
  display: none;
  margin: 121px 0 0 0;
}

.backAccount .content .confirm .imaagg {
  text-align: center;
  margin: -27px 0 22px 0;
}

.backAccount .content .confirm .imaagg img {
  width: 102px;
  height: 85px;
  margin: 0 0 26px 0;
}

.backAccount .content .confirm .imaagg p {
  color: #949494;
  font-size: 17px;
  font-family: 'cairoR';
}

.backAccount .content .activateAcco {
  display: none;
  margin: 121px 0 0 0;
}

.backAccount .content .activateAcco .imaagg {
  text-align: center;
  margin: -27px 0 22px 0;
}

.backAccount .content .activateAcco .imaagg img {
  width: auto;
  margin: 0 0 26px 0;
}

.backAccount .content .activateAcco .imaagg p {
  color: #949494;
  font-size: 17px;
  font-family: 'cairoR';
}

/*--- End Account popup ---*/
/*--- start shopping popup ---*/
.backgrou {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 30;
  background: rgba(12, 122, 216, 0.8);
  padding: 0 20%;
  overflow-y: scroll;
}

.backgrou .clos {
  position: relative;
  margin: 0 auto;
  height: 52px;
  width: 38px;
  cursor: pointer;
}

.backgrou .clos svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.backgrou .clos img {
  position: absolute;
  width: auto;
  top: 24px;
  right: 11px;
}

.backgrou .tabb {
  position: relative;
  height: 87px;
  width: 271px;
  margin: 0 auto;
}

.backgrou .tabb svg {
  position: absolute;
  top: 12px;
  width: auto;
  left: 0;
}

.backgrou .tabb .link {
  position: absolute;
  width: 310px;
}

.backgrou .tabb .link .arrow {
  position: absolute;
  display: inline-block;
  top: 36px;
  margin: 0 -15px 0 0;
  opacity: 0;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

.backgrou .tabb .link .arrow img {
  width: auto;
}

.backgrou .tabb .link .show {
  opacity: 1;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

.backgrou .tabb .link .lii {
  cursor: pointer;
  position: relative;
  top: 33px;
  right: 8px;
  background: #F2F2F9;
  width: 33px;
  height: 33px;
  text-align: center;
  border-radius: 100px;
  line-height: 1.8;
  margin-left: 34px;
  display: inline-block;
}

.backgrou .tabb .link .active {
  background-color: #FCC74C;
  cursor: pointer;
}

.backgrou .tabb .link .upp {
  top: 18px;
  width: 50px;
  right: 1px;
  height: 50px;
}

.backgrou .tabb .link .upp img {
  position: relative;
  top: 9px;
}

.backgrou .contt {
  background-color: #fff;
  margin: 10px auto;
  max-width: 521px;
  border-radius: 45px;
  height: auto;
  padding: 33px;
  /* courses step */
  /*-- Account --*/
  /*-- Payment Method --*/
  /*-- Succsess Payment --*/
  /* Total Price */
}

.backgrou .contt .titell h3 {
  font-size: 18px;
  font-family: 'cairoR';
  color: #7B7B7B;
  text-align: right;
}

.backgrou .contt .titell hr {
  margin: 21px auto 29px auto;
  border: 0;
  border-top: 2px solid #F2F2F2;
  max-width: 375px;
}

.backgrou .contt .courses {
  display: none;
}

.backgrou .contt .courses .groupp {
  position: relative;
}

.backgrou .contt .courses .groupp .man {
  text-align: initial;
  z-index: 1;
  position: relative;
  background-color: #fff;
  padding: 9px 8px 10px 15px;
  border-radius: 31px;
  margin: 0px 0 27px 51px;
  -webkit-box-shadow: 2px 7px 9px #9e9e9e36;
  -ms-box-shadow: 2px 7px 9px #9e9e9e36;
  box-shadow: 2px 7px 9px #9e9e9e36;
}

.backgrou .contt .courses .groupp .man .compon .mag {
  margin-left: 5px;
  display: inline-block;
}

.backgrou .contt .courses .groupp .man .compon .mag img {
  width: 88px;
  height: 84px;
  border-radius: 20px;
}

.backgrou .contt .courses .groupp .man .compon h2 {
  font-size: 18px;
  font-family: 'cairoR';
  color: #7B7B7B;
  display: inline-block;
  position: relative;
  top: -18px;
  margin: 0 5px 10px 0;
}

.backgrou .contt .courses .groupp .man .compon h3 {
  color: #FCC74C;
  font-size: 18px;
  font-family: 'cairoR';
  text-align: left;
  margin: -22px 0 0px 11px;
}

.backgrou .contt .courses .groupp .man .compon h3 span {
  font-size: 9px;
  font-family: 'cairoR';
  color: #7B7B7B;
  margin: 0 0 0 6px;
}

.backgrou .contt .courses .groupp .delate {
  width: 97px;
  height: 67px;
  background-color: #F8F8F8;
  border-radius: 51px;
  position: absolute;
  top: 20px;
  left: 1px;
  text-align: center;
  cursor: pointer;
}

.backgrou .contt .courses .groupp .delate img {
  width: auto;
  position: relative;
  top: 18px;
  left: -17px;
}

.backgrou .contt .dataUser {
  display: block;
}

.backgrou .contt .dataUser .creatt .logBy {
  margin: 0 auto 26px auto;
  text-align: center;
}

.backgrou .contt .dataUser .creatt .logBy .social {
  display: inline-block;
  margin: 0 13px 0 0;
  background-color: #fff;
  padding: 5px;
  -webkit-box-shadow: 0px 4px 10px #e4e4e45c;
  -o-box-shadow: 0px 4px 10px #e4e4e45c;
  box-shadow: 0px 4px 10px #e4e4e45c;
  width: 60px;
  height: 42px;
  text-align: center;
  line-height: 1.7;
  border-radius: 36px;
  cursor: pointer;
}

.backgrou .contt .dataUser .creatt .logBy .social img {
  width: auto;
}

.backgrou .contt .dataUser .creatt .logBy .login {
  height: 41px;
  color: #926D05;
  background-color: #FCC74C;
  border-radius: 50px;
  padding: 7px 15px;
  text-align: center;
  display: inline-block;
}

.backgrou .contt .dataUser .creatt .logBy .login a {
  text-decoration: none;
  font-size: 16px;
  color: #926D05;
}

.backgrou .contt .dataUser .creatt .logBy .login a img {
  margin-left: 0;
}

.backgrou .contt .dataUser .creatt .logBy .login a h3 {
  display: inline-block;
  font-size: 16px;
  font-family: 'cairoR';
}

.backgrou .contt .dataUser .creatt .creat {
  text-align: center;
  position: relative;
  margin: 28px 0 38px 0;
}

.backgrou .contt .dataUser .creatt .creat .orr {
  position: relative;
  margin: 0 auto;
  max-width: 41px;
}

.backgrou .contt .dataUser .creatt .creat .orr svg {
  position: absolute;
  top: 0;
  left: 0;
}

.backgrou .contt .dataUser .creatt .creat .orr span {
  font-size: 18px;
  color: #7B7B7B;
  font-family: 'cairoR';
  position: relative;
  top: 5px;
  left: 1px;
}

.backgrou .contt .dataUser .creatt .creat h3 {
  font-size: 18px;
  color: #7B7B7B;
  font-family: 'cairoR';
  display: block;
  text-align: center;
  margin: 38px 0 0 0;
}

.backgrou .contt .dataUser .creatt form {
  position: relative;
  margin: 0;
  overflow: hidden;
  padding: 0 0 0 16px;
}

.backgrou .contt .dataUser .creatt form .inp {
  position: relative;
  margin-bottom: 15px;
}

.backgrou .contt .dataUser .creatt form .inp img {
  position: absolute;
  top: 17px;
  right: 12px;
}

.backgrou .contt .dataUser .creatt form .inp input {
  padding: 10px;
  border: 1px solid #E1E1E1;
  color: #7B7B7B;
  font-size: 17px;
  font-family: 'cairoR';
  padding: 0px 37px 0 0;
  height: 50px;
}

.backgrou .contt .dataUser .creatt form .inp input ::-webkit-input-placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backgrou .contt .dataUser .creatt form .inp input :-ms-input-placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backgrou .contt .dataUser .creatt form .inp input ::-ms-input-placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backgrou .contt .dataUser .creatt form .inp input ::placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backgrou .contt .dataUser .creatt form .terms {
  margin: 0;
}

.backgrou .contt .dataUser .creatt form .terms .check {
  position: relative;
  width: 20px;
  height: 19px;
  overflow: hidden;
  display: inline-block;
}

.backgrou .contt .dataUser .creatt form .terms .check label {
  position: relative;
  width: 25px;
  height: 25px;
  z-index: 99;
  cursor: pointer;
}

.backgrou .contt .dataUser .creatt form .terms .check label img {
  width: auto;
  position: absolute;
  top: 6px;
  right: 3px;
  opacity: 0;
  -webkit-transition: all ease-in .3s;
  transition: all ease-in .3s;
}

.backgrou .contt .dataUser .creatt form .terms .check input[type=checkbox] {
  display: none;
  position: absolute;
  top: 4px;
  right: 3px;
}

.backgrou .contt .dataUser .creatt form .terms .check input:checked ~ label img {
  opacity: 1;
  -webkit-transition: all ease-in .3s;
  transition: all ease-in .3s;
}

.backgrou .contt .dataUser .creatt form .terms .check svg {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
}

.backgrou .contt .dataUser .creatt form .terms h3 {
  font-size: 11px;
  font-family: 'cairoR';
  color: #7B7B7B;
  margin: 0 5px 0 0;
  display: inline-block;
  position: relative;
  top: -5px;
}

.backgrou .contt .dataUser .creatt form .terms h3 span {
  color: #FCC74C;
}

.backgrou .contt .dataUser .creatt form .but {
  width: 52%;
  height: 47px;
  background-color: #7B86FA;
  margin: 20px auto 0 auto;
  text-align: center;
  border-radius: 68px;
  cursor: pointer;
}

.backgrou .contt .dataUser .creatt form .but h3 {
  font-size: 16px;
  font-family: 'cairoR';
  text-align: center;
  color: #fff;
  padding: 15px 0 0 0;
}

.backgrou .contt .dataUser .creatt form .but h3 img {
  width: auto;
  margin-left: 6px;
}

.backgrou .contt .msPayment {
  display: none;
  /*-- details Payment --*/
}

.backgrou .contt .msPayment .options {
  display: none;
}

.backgrou .contt .msPayment .options .sele {
  background-color: #fff;
  cursor: pointer;
  padding: 0 9px 0 0;
  width: 100%;
  height: 81px;
  margin: 0 0 12px 0;
  border-radius: 98px;
  -webkit-box-shadow: 8px 7px 10px #b9b9b952;
  -o-box-shadow: 8px 7px 10px #b9b9b952;
  box-shadow: 8px 7px 10px #b9b9b952;
}

.backgrou .contt .msPayment .options .sele img {
  width: auto;
  margin: 0 12px 0 0;
  display: inline-block;
}

.backgrou .contt .msPayment .options .sele h3 {
  display: inline-block;
  font-size: 16px;
  font-family: 'cairoR';
  margin-right: 10px;
}

.backgrou .contt .msPayment .options .active {
  border: 2px solid #FCC74C;
}

.backgrou .contt .msPayment .options .edit {
  line-height: 5;
  padding: 0 11px 0 0;
}

.backgrou .contt .msPayment .details .error {
  background-color: #F67A66;
  padding: 10px;
  width: 100%;
  height: 41px;
  margin: -17px 0 35px 0;
  border-radius: 7px;
}

.backgrou .contt .msPayment .details .error h3 {
  color: #fff;
  font-size: 14px;
  font-family: 'cairoR';
  margin: 0;
}

.backgrou .contt .msPayment .details .error h3 img {
  margin-left: 6px;
  width: auto;
}

.backgrou .contt .msPayment .details .logoPay {
  margin: -13px 0 11px 0;
  text-align: center;
}

.backgrou .contt .msPayment .details .logoPay img {
  width: auto;
}

.backgrou .contt .msPayment .details form {
  position: relative;
  margin: 0;
  overflow: hidden;
  padding: 0 0 0 16px;
}

.backgrou .contt .msPayment .details form .inp {
  position: relative;
  margin-bottom: 15px;
}

.backgrou .contt .msPayment .details form .inp img {
  position: absolute;
  top: 13px;
  left: 15px;
  width: auto;
}

.backgrou .contt .msPayment .details form .inp input {
  padding: 10px;
  color: #7B7B7B;
  font-size: 17px;
  padding: 0px 15px 0 0;
  height: 50px;
}

.backgrou .contt .msPayment .details form .inp input ::-webkit-input-placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backgrou .contt .msPayment .details form .inp input :-ms-input-placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backgrou .contt .msPayment .details form .inp input ::-ms-input-placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backgrou .contt .msPayment .details form .inp input ::placeholder {
  font-size: 14px;
  font-family: 'cairoR';
}

.backgrou .contt .msPayment .details form .but {
  width: 84%;
  height: 47px;
  background-color: #FCC74C;
  margin: 20px auto 0 auto;
  text-align: center;
  border-radius: 68px;
  cursor: pointer;
}

.backgrou .contt .msPayment .details form .but h3 {
  font-size: 16px;
  font-family: 'cairoR';
  text-align: center;
  color: #fff;
  padding: 15px 0 0 0;
}

.backgrou .contt .msPayment .details form .but h3 img {
  width: auto;
  margin-left: 10px;
}

.backgrou .contt .succses {
  display: none;
  text-align: center;
}

.backgrou .contt .succses h3 {
  font-size: 18px;
  text-align: center;
  margin: 0 0 33px 0;
  color: #7B7B7B;
  font-family: 'cairoB';
}

.backgrou .contt .succses h3 span {
  font-size: 18px;
  margin-right: 10px;
  color: #949494;
  font-family: 'cairoR';
}

.backgrou .contt .succses .imaagg img {
  width: auto;
}

.backgrou .contt .succses .imaagg h2 {
  font-family: 'cairoB';
  color: #03E88B;
  margin: 11px 0 31px 0;
}

.backgrou .contt .succses .imaagg p {
  color: #949494;
  font-size: 16px;
  font-family: 'cairoR';
}

.backgrou .contt .succses .imaagg p span {
  color: #FCC74C;
  margin-right: 4px;
  cursor: pointer;
}

.backgrou .contt .total {
  margin-top: 90px;
}

.backgrou .contt .total .price {
  background-color: #F8F8F8;
  padding: 10px;
  border-radius: 100px;
  width: 84%;
}

.backgrou .contt .total .price h2 {
  font-size: 18px;
  font-family: 'cairoR';
  color: #7B7B7B;
  text-align: right;
  margin: 0 11px 7px 0;
}

.backgrou .contt .total .price h3 {
  color: #FCC74C;
  font-size: 18px;
  font-family: 'cairoR';
  margin: -33px 0 0px -2px;
  background-color: #F2F2F2;
  width: 90px;
  text-align: center;
  padding: 9px;
  float: left;
  border-radius: 55px;
}

.backgrou .contt .total .price h3 span {
  font-size: 9px;
  font-family: 'cairoR';
  color: #7B7B7B;
  margin: 0 0 0 6px;
}

.backgrou .contt .total .next {
  position: relative;
}

.backgrou .contt .total .next .nexx {
  position: absolute;
  top: -50px;
  left: 0;
  width: auto;
}

.backgrou .contt .total .next img {
  position: absolute;
  width: auto;
  left: 18px;
  top: -35px;
}

/*--- End shopping popup ---*/
/*--- start shopping cart ---*/
.shoppgCart {
  position: fixed;
  right: -11px;
  bottom: 0;
  top: 114px;
  z-index: 10;
  height: 92px;
}

.shoppgCart .cart {
  position: relative;
  margin: 0 0 0 -7px;
  cursor: pointer;
}

.shoppgCart .cart .notifc {
  position: absolute;
  width: 29px;
  text-align: center;
  top: -53px;
  left: 28px;
  padding: 1px 0 0 0;
  height: 29px;
  border-radius: 50%;
  background: #f76153;
  overflow: hidden;
  z-index: 1;
  display: none;
}

.shoppgCart .cart .notifc span {
  font-size: 14px;
  color: #fff;
}

.shoppgCart .cart svg {
  position: absolute;
  top: -56px;
  left: 16px;
  width: auto;
}

.shoppgCart .cart h3 {
  color: #7B7B7B;
  font-size: 10px;
  font-family: 'cairoR';
  position: absolute;
  top: -44px;
  left: 31px;
}

/*--- End shopping cart ---*/
/*--- Start statiscs ---*/
.statiscs {
  padding: 30px 0;
  margin-top: 100px;
}

@media (min-width: 320px) and (max-width: 700px) {
  .statiscs .chart {
    text-align: center;
  }
}

.statiscs .chart .dector {
  width: 100%;
  position: relative;
  margin-bottom: 80px;
}

@media (min-width: 320px) and (max-width: 700px) {
  .statiscs .chart .dector {
    margin: 0 0 80px 0;
  }
}

.statiscs .chart .dector .dec-2 {
  background-color: #6284BF !important;
}

.statiscs .chart .dector .dec-3 {
  background-color: #10BBD5 !important;
}

.statiscs .chart .dector .svdec {
  position: absolute;
  width: auto;
  top: 81px;
  left: 0;
  right: 15px;
}

@media (min-width: 320px) and (max-width: 700px) {
  .statiscs .chart .dector .svdec {
    right: 82px;
  }
}

.statiscs .chart .dector .dec {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #AEC2FF;
  position: relative;
  display: inline-block;
}

.statiscs .chart .dector .dec img {
  width: auto;
  position: absolute;
  left: 0;
  right: -13px;
  top: -37px;
}

.statiscs .chart .dector .details {
  display: inline-block;
}

.statiscs .chart .dector .details .tow {
  margin-right: 15px;
}

@media (min-width: 320px) and (max-width: 700px) {
  .statiscs .chart .dector .details .tow {
    margin: 22px 59px 0 0;
  }
}

.statiscs .chart .dector .details .tow h3 {
  font-size: 32px;
  color: #FCC74C;
  font-family: 'cairoB';
  display: inline-block;
}

.statiscs .chart .dector .details .tow span {
  font-size: 32px;
  color: #0c7ad8;
  font-family: 'cairoB';
  display: inline-block;
}

.statiscs .chart .dector .details .tow p {
  font-size: 15px;
  font-family: 'cairoR';
  color: #7B7B7B;
}

.statiscs .dector {
  width: 100%;
  position: relative;
  margin-bottom: 80px;
}

.statiscs .dector .dec-2 {
  background-color: #6284BF !important;
}

.statiscs .dector .dec-3 {
  background-color: #10BBD5 !important;
}

.statiscs .dector .svdec {
  position: absolute;
  width: auto;
  top: 81px;
  left: 0;
  right: 15px;
}

.statiscs .dector .dec {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #AEC2FF;
  position: relative;
  display: inline-block;
}

.statiscs .dector .dec img {
  width: auto;
  position: absolute;
  left: 0;
  right: -13px;
  top: -37px;
}

.statiscs .dector .details {
  display: inline-block;
}

.statiscs .dector .details .tow {
  margin-right: 15px;
}

.statiscs .dector .details .tow h3 {
  font-size: 32px;
  color: #FCC74C;
  font-family: 'cairoB';
  display: inline-block;
}

.statiscs .dector .details .tow span {
  font-size: 32px;
  color: #0c7ad8;
  font-family: 'cairoB';
  display: inline-block;
}

.statiscs .dector .details .tow p {
  font-size: 15px;
  font-family: 'cairoR';
  color: #7B7B7B;
}

/*--- End statiscs ---*/
/*--- Start veiw ---*/
.veiw {
  margin-top: 30px;
  padding: 20px 0;
  position: relative;
}

.veiw .text {
  text-align: center;
  position: relative;
}

.veiw .text .right {
  position: absolute;
  right: 133px;
  top: -106px;
  width: auto;
}

.veiw .text .left {
  position: absolute;
  left: 133px;
  top: -106px;
  width: auto;
}

.veiw .text .perr {
  position: relative;
  top: -47px;
}

.veiw .text .perr h3 {
  display: inline-block;
  font-size: 90px;
  font-family: 'cairoB';
  color: #FCC74C;
}

.veiw .text .perr span {
  display: inline-block;
  font-size: 90px;
  font-family: 'cairoB';
  color: #0c7ad8;
}

.veiw .text .perr p {
  font-size: 41px;
  color: #CFCFCF;
  text-align: right;
  width: 40%;
  margin: 0 auto;
  font-family: 'airR';
}

/*--- End veiw ---*/
/*--- Start Evaluation ---*/
.evaluation {
  padding: 20px 0;
  margin-top: 30px;
}

.evaluation .txt {
  position: relative;
  margin-bottom: 40px;
}

.evaluation .txt .tree {
  position: absolute;
  left: 0;
  top: -17px;
  right: -63px;
  width: auto;
}

.evaluation .txt img {
  width: auto;
  display: inline-block;
}

.evaluation .txt h3 {
  font-size: 25px;
  font-family: 'cairoR';
  display: inline-block;
  color: #7B7B7B;
  margin-right: 7px;
}

.evaluation .rate {
  margin-top: 30px;
}

.evaluation .rate .parent .imag {
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  height: 327px;
}

@media (min-width: 320px) and (max-width: 700px) {
  .evaluation .rate .parent .imag {
    left: 0;
  }
}

.evaluation .rate .parent .imag .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(251, 251, 255, 0.6);
}

.evaluation .rate .parent .imag img {
  width: 100%;
}

.evaluation .rate .parent .imag .magtxt h4 {
  position: absolute;
  top: 50px;
  left: 77px;
  color: #7B7B7B;
  font-size: 18px;
  font-family: 'cairoR';
  width: 59%;
}

.evaluation .rate .parent .imag .magtxt img {
  position: absolute;
  width: auto;
  top: 50%;
  left: 44%;
}

.evaluation .rate .parent .pric {
  background-color: #FC9685;
  padding: 20px;
  border-radius: 107px 107px 27px 27px;
  height: 138px;
  width: 210px;
  margin: -59px auto;
  position: relative;
  z-index: 2;
}

.evaluation .rate .parent .pric .detai {
  text-align: center;
}

.evaluation .rate .parent .pric .detai span {
  display: inline-block;
  font-size: 13px;
  font-family: 'cairoR';
  color: #fff;
  margin: 0 0 0 6px;
}

.evaluation .rate .parent .pric .detai h3 {
  display: inline-block;
  color: #FFF067;
  font-size: 31px;
  font-family: 'cairoR';
}

.evaluation .rate .parent .pric button {
  width: 106px;
  height: 33px;
  background-color: #FFF067;
  color: #7B7B7B;
  font-size: 14px;
  outline: 0;
  margin-top: 26px;
  -webkit-box-shadow: 8px 3px 7px #9e9e9e36;
  -ms-box-shadow: 8px 3px 7px #9e9e9e36;
  box-shadow: 8px 3px 7px #9e9e9e36;
}

.evaluation .rate .parent .pric .cart {
  position: relative;
  cursor: pointer;
}

.evaluation .rate .parent .pric .cart .sala {
  position: absolute;
  left: 4px;
  top: -31px;
  width: auto;
}

.evaluation .rate .parent .pric .cart img {
  width: auto;
  position: absolute;
  left: 19px;
  top: -21px;
}

.evaluation .rate .parent .name {
  border-radius: 57px;
  background-color: #F67A66;
  width: 272px;
  left: 7px;
  padding-top: 195px;
  height: 242px;
  position: relative;
  top: -116px;
  z-index: -1;
  -webkit-box-shadow: 8px 12px 8px #eceaea;
  -ms-box-shadow: 8px 12px 8px #eceaea;
  box-shadow: 8px 12px 8px #eceaea;
}

@media (min-width: 320px) and (max-width: 700px) {
  .evaluation .rate .parent .name {
    width: 255px;
  }
}

.evaluation .rate .parent .name .user {
  margin-right: 23px;
}

.evaluation .rate .parent .name .user img {
  display: inline-block;
  width: auto;
}

.evaluation .rate .parent .name .user h3 {
  display: inline-block;
  font-size: 13px;
  color: #fff;
}

/*--- End Evaluation ---*/
/*--- Start Training ---*/
.training {
  padding: 20px 0;
  margin-top: 0;
}

.training .nav-tabs {
  margin: 0 0 20px 0;
  padding: 15px;
  border: 1px dashed #F1F0F0;
  border-radius: 52px;
}

.training .nav-tabs .nav-link {
  font-size: 18px;
  font-family: 'cairoR';
  width: 155px;
  height: 44px;
  margin-left: 10px;
  border-radius: 50px;
  color: #7B7B7B;
  border: 1px solid #F6F6F6;
  background-color: #fff;
  -webkit-box-shadow: 2px 9px 18.79px 2.21px rgba(147, 147, 147, 0.14);
  -o-box-shadow: 2px 9px 18.79px 2.21px rgba(147, 147, 147, 0.14);
  -ms-box-shadow: 2px 9px 18.79px 2.21px rgba(147, 147, 147, 0.14);
  box-shadow: 2px 9px 18.79px 2.21px rgba(147, 147, 147, 0.14);
}

.training .nav-tabs .nav-link img {
  margin-left: 4px;
}

.training .nav-tabs .nav-link.active {
  background-color: #2D77D8;
  color: #fff;
}

.training .txt {
  position: relative;
  margin-bottom: 40px;
}

.training .txt h3 {
  font-size: 25px;
  font-family: 'cairoR';
  display: inline-block;
  color: #7B7B7B;
  margin-right: 7px;
}

.training .txt h4 {
  font-family: 'cairoR';
  font-size: 14px;
  color: #BBBABA;
  margin-right: 8px;
}

.training .txt h4 span {
  color: #FCC74C;
  font-family: 'cairoR';
}

.training .rate {
  margin-top: 30px;
  /*parent2*/
}

.training .rate .cn {
  padding: 0 0 0 0;
  position: relative;
}

@media (min-width: 320px) and (max-width: 700px) {
  .training .rate .cn {
    right: 0;
  }
}

.training .rate .cn .swiper-container {
  width: 100% !important;
  overflow: visible !important;
}

.training .rate .cn .swiper-container .swiper-wrapper {
  width: 100% !important;
  -webkit-transform: none !important;
          transform: none !important;
  height: 500px !important;
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide {
  width: 260px !important;
  height: 461px !important;
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent {
  margin-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 700px) {
  .training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent {
    margin-bottom: 0;
  }
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent .imag {
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  height: 327px;
  width: 233px;
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent .imag .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(251, 251, 255, 0.6);
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent .imag img {
  width: 100%;
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent .imag .magtxt h4 {
  position: absolute;
  top: 25px;
  left: 0;
  color: #7B7B7B;
  font-size: 17px;
  font-family: 'cairoR';
  width: 100%;
  padding: 0 8% 0 13%;
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent .imag .magtxt img {
  position: absolute;
  width: 26px;
  top: 45%;
  left: 44%;
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent .pric {
  background-color: #7B86FA;
  padding: 20px;
  border-radius: 105px 100px 27px 27px;
  height: 137px;
  width: 210px;
  margin: -59px auto;
  position: relative;
  z-index: 2;
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent .pric .detai {
  text-align: center;
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent .pric .detai span {
  display: inline-block;
  font-size: 13px;
  font-family: 'cairoR';
  color: #fff;
  margin: 0 0 0 6px;
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent .pric .detai h3 {
  display: inline-block;
  color: #FFF067;
  font-size: 31px;
  font-family: 'cairoR';
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent .pric button {
  width: 85px;
  height: 33px;
  background-color: #FFF067;
  color: #7B7B7B;
  font-size: 14px;
  outline: 0;
  margin: 27px 0 0 0;
  -webkit-box-shadow: 8px 3px 7px #9e9e9e36;
  -ms-box-shadow: 8px 3px 7px #9e9e9e36;
  box-shadow: 8px 3px 7px #9e9e9e36;
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent .pric .cart {
  position: relative;
  cursor: pointer;
  right: 12px;
  margin: 0 0 0 0;
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent .pric .cart .sala {
  position: absolute;
  left: 4px;
  top: -31px;
  width: auto;
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent .pric .cart img {
  width: auto;
  position: absolute;
  left: 19px;
  top: -21px;
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent .name {
  border-radius: 50px;
  background-color: #5666B9;
  width: 274px;
  padding-top: 178px;
  height: 222px;
  position: relative;
  top: -108px;
  z-index: -1;
  -webkit-box-shadow: 8px 12px 8px #eceaea;
  -ms-box-shadow: 8px 12px 8px #eceaea;
  box-shadow: 8px 12px 8px #eceaea;
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent .name .user {
  margin-right: 23px;
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent .name .user img {
  display: inline-block;
  width: 25px;
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent .name .user h3 {
  display: inline-block;
  font-size: 12px;
  color: #fff;
}

.training .rate .cn .swiper-container .swiper-wrapper .swiper-slide .parent .color {
  background-color: #0C79D6;
}

.training .rate .butDown {
  position: relative;
  margin: 0 auto;
  width: 205px;
  text-align: center;
}

.training .rate .butDown .right {
  position: absolute;
  top: -32px;
  right: -49px;
  width: auto;
}

.training .rate .butDown .left {
  position: absolute;
  top: 0;
  left: -58px;
  width: auto;
}

.training .rate .butDown button {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

/*--- End Training ---*/
/*--- Start opinions ---*/
.opinions {
  padding: 30px 0;
  margin-top: 30px;
}

.opinions .titel {
  margin: 0 auto 100px;
  width: 250px;
  position: relative;
}

.opinions .titel span {
  font-size: 29px;
  font-family: 'cairoR';
  color: #7B7B7B;
}

.opinions .titel h2 {
  font-size: 39px;
  font-family: 'airR';
  color: #7B7B7B;
}

.opinions .opini {
  margin-top: 30px;
}

.opinions .opini .swiper-container {
  overflow: visible !important;
  width: 100% !important;
}

.opinions .opini .swiper-container .swiper-slide {
  width: 349.4px;
}

.opinions .opini .swiper-container .swiper-slide .left {
  position: relative;
  top: 60px;
}

.opinions .opini .swiper-container .swiper-slide .right {
  position: relative;
  top: 60px;
}

.opinions .opini .swiper-container .swiper-slide .avtar {
  position: relative;
  margin-bottom: 30px;
}

.opinions .opini .swiper-container .swiper-slide .avtar .backhi {
  position: relative;
}

.opinions .opini .swiper-container .swiper-slide .avtar .backhi svg {
  position: absolute;
  width: auto;
  left: 33px;
  top: -3px;
}

.opinions .opini .swiper-container .swiper-slide .avtar .backhi .hart {
  position: relative;
}

.opinions .opini .swiper-container .swiper-slide .avtar .backhi .hart svg {
  position: absolute;
  top: 11px;
  right: 58px;
  left: 0;
  width: auto;
}

.opinions .opini .swiper-container .swiper-slide .avtar .backhi .hart img {
  width: auto;
  position: absolute;
  left: 0;
  right: 67px;
  top: 19px;
}

.opinions .opini .swiper-container .swiper-slide .avtar .backhi .stud {
  position: relative;
  text-align: center;
  margin: 0 auto;
  top: -57px;
}

.opinions .opini .swiper-container .swiper-slide .avtar .backhi .stud img {
  width: auto;
}

.opinions .opini .swiper-container .swiper-slide .avtar .backhi .stud svg {
  position: absolute;
  top: 81px;
  left: 0;
  right: 92px;
  width: auto;
}

.opinions .opini .swiper-container .swiper-slide .avtar .backhi .stud h2 {
  color: #fff;
  font-size: 16px;
  font-family: 'cairoR';
  margin-top: 11px;
}

.opinions .opini .swiper-container .swiper-slide .avtar .content {
  margin-top: -53px;
  background: linear-gradient(449.36deg, #fd8c78 2%, #f76254 87%);
  height: 108px;
  padding: 20px;
  width: 82.2%;
  margin-right: 28.1px;
}

.opinions .opini .swiper-container .swiper-slide .avtar .content .hana {
  position: relative;
  padding: 0 10% 0 10%;
}

.opinions .opini .swiper-container .swiper-slide .avtar .content .hana svg {
  position: absolute;
  top: -9px;
  left: 14px;
  width: auto;
}

.opinions .opini .swiper-container .swiper-slide .avtar .content .hana p {
  color: #F2F2F2;
  font-size: 18px;
  font-family: 'cairoR';
}

.opinions .opini .swiper-container .swiper-slide .avtar .more {
  position: relative;
  margin-bottom: 81px;
}

.opinions .opini .swiper-container .swiper-slide .avtar .more svg {
  position: absolute;
  width: auto;
  left: 33px;
  top: -3px;
}

.opinions .opini .swiper-container .swiper-slide .avtar .more a {
  position: absolute;
  left: 157px;
  top: 19px;
}

.opinions .opini .swiper-container .swiper-slide .avtar .tit {
  position: relative;
  padding: 11px 23% 0 20%;
  margin-top: 15px;
}

.opinions .opini .swiper-container .swiper-slide .avtar .tit svg {
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
}

.opinions .opini .swiper-container .swiper-slide .avtar .tit P {
  font-size: 14px;
  color: #7B7B7B;
}

.opinions .opini .swiper-container .swiper-slide .avtar .tit .gro img {
  width: auto;
  display: inline-block;
  margin-left: 3px;
}

.opinions .opini .swiper-container .swiper-slide .avtar .tit .gro h3 {
  display: inline-block;
  font-size: 15px;
  font-family: 'cairoR';
  color: #FCC74C;
}

/*--- End opinions ---*/
/*# sourceMappingURL=homepage.css.map */