/*-- font style --*/
@font-face {
    font-family: "cairoB";
    src: url('../font/Cairo-Bold.ttf')
}

@font-face {
    font-family: "cairoR";
    src: url('../font/Cairo-Regular.ttf')
}

@font-face {
    font-family: "airR";
    src: url('../font/AirStripR.ttf')
}

/*-- import --*/
@import 'sass/helpers/variabels';
@import 'sass/helpers/mixins';

@import 'sass/layout/navbar';
@import 'sass/layout/header';
@import 'sass/pages/homepage';
@import 'sass/pages/resetPassword';
@import 'sass/layout/footer';

/*-- body style --*/
body {
    box-sizing: content-box;
    height: auto;
    background-color: #fcfcfc;
}

* {
    margin: 0;
    padding: 0;
}
.web {
    width: 100%;
    position: relative;
    overflow: hidden;
}

/*--- START My Courses ---*/
.myCourses{
    padding: 10px;
    margin: 20px 0 45px 0;
    position: relative;
    .titel{
        display: inline-block;
        width: 100%;
        padding: 12px;
        background: #fff;
        margin: 18px 5% 16px 5%;
        img{
            display: inline-block;
            margin: -9px 0 0 0;
        }
        h3{
            color: $textColor;
            font-size: 22px;
            font-family: 'cairoB';
            line-height: 1.7;
            margin: 0 11px 0 0;
            display: inline-block;
        }
    }
    /* لوحتي التعليمية */
    .move{
        margin: 30px 0 30px 0;
        padding: 0 1% 0 1%;
        .col-lg-7{
            //maxMobile
            @media(max-width:767px){
                width: 50%;
            }
        }
        .col-lg-5{
            //maxMobile
            @media(max-width:767px){
                width: 50%;
            }
        }
        .col-lg-7{
            //minSmall
            @media(min-width:768px){
                width: 50%;
            }
        }
        .col-lg-5{
            //minSmall
            @media(min-width:768px){
                width: 50%;
            }
        }
        .bord{
            padding: 15px;
            background-color: #7B86FA;
            border-radius: 14px;
            height: auto;
            margin: 0 0 25px 0;
            position: relative;
            overflow: hidden;
            .money{
                width: auto;
                position: absolute;
                left: 0;
                right: -31px;
                bottom: -43px;
            }
            .price{
                position: relative;
                display: inline-block;
                top: 0;
                width: 100%;
                img{
                    position:absolute;
                    top: 0;
                }
                .hrcooo{
                    right: -16px;
                }
                .hrColor{
                    left: 0;
                }
                h2{
                    color: #fff;
                    font-family: 'cairoR';
                    font-size: 17px;
                }
                h3{
                    color: #FFF067;
                    font-size: 31px;
                    font-family: 'cairoR';
                }
                span{
                    display: inline-block;
                    font-size: 13px;
                    font-family: 'cairoR';
                    color: #fff;
                    margin: 0 0 0 6px;
                }
                .box{
                    text-align: center;
                    width: 78px;
                    background-color: #fff;
                    border-radius: 11px;
                    margin: 12px auto;
                    height: 64px;
                    h3{
                        font-size: 28px;
                        color: #7B86F8;
                        font-family: 'cairoB';
                        margin: 2px 0 3px 0;
                        text-align: center;
                    }
                    span{
                        display: block;
                        color: $textColor;
                        margin: 0;
                    }
                }
            }
            .right{
                h2{
                    text-align: center;
                }
            }
            .linke{
                text-decoration: none;
                margin: 0 20px 0 0;
                position: absolute;
                width: 86px;
                cursor: pointer;
                h3{
                    font-size: 12px;
                    display: inline-block;
                    color: #ffff;
                    font-family: 'cairoR';
                    .mage{
                        width: auto;
                        display: inline-block;
                        margin: 0;
                        position: unset;
                    }
                }
            }
            .share{
                text-align: center;
                margin: 0 0 7px 0;
                padding: 10px;
                form{
                    position: relative;
                    text-align: center;
                    width: 78%;
                    margin: 0 auto;
                    top: 17px;
                    //maxMobile
                    @media(max-width:767px){
                        width: 100%;
                    }
                    input{
                        background-color: #8d96ff;
                        border: none;
                        width: 100%;
                        height: 37px;
                        outline: 0;
                        padding: 0px 29px 0 0;
                        overflow: hidden;
                        border-radius: 100px;
                        font-family: 'cairoR';
                        color: #fff;
                    }
                    button{
                        width: 41px;
                        height: 33px;
                        background-color: #fcc74c;
                        position: absolute;
                        left: 5px;
                        top: 2px;
                        font-size: 16px;
                        outline: 0;
                        img{
                            width: 20px;
                        }
                    }
                }
            }
        }
        .load{
            img{
                width: 100%;
                height: 207px;
                //maxMobile
                @media(max-width:767px){
                    height: 207px;
                }
            }
        }
    }
    /* courses card */
    .cards{
        margin: 20px 0 20px 0;
        .group{
            .card{
                border: 0;
                padding: 13px;
                border-radius: 23px;
                margin: 0 0 25px 0;
                @include prefixer(box-shadow, 2px 6px 30px #e8e8e8, webkit moz o);
                .pro{
                    position: relative;
                    span{
                        position: absolute;
                        z-index: 55;
                        top: -36px;
                        right: 12px;
                        left: 0;
                        font-size: 16px;
                        color: #707070;
                        font-family: 'cairoR';
                    }
                    .progress{
                        margin:-7px 0 -4px 0;
                        height: 7px;
                        position: relative;
                        z-index: 2;
                        background-color: #fff;
                        .progress-bar{
                            background: linear-gradient(90deg, rgba(123,134,250,1) 17%, rgba(252,212,98,1) 66%);
                            border-radius:50px;
                        }
                    }
                }
                .card-img-top{
                    position: relative;
                    .overlay{
                        @include overlay;
                        background-color:rgba(#fff, .2);
                        backdrop-filter: blur(2px);
                        -webkit-backdrop-filter: blur(2px);
                        -moz-backdrop-filter: blur(2px);
                        z-index: 1;
                        background: inherit;
                        border-radius: 14px;
                    }
                    img{
                        width: 100%;
                        border-radius: 14px;
                        position: relative;
                    }
                }
                .card-body{
                    padding: 8px; 
                    height: 200px;
                    h5{
                        font-size: 17px;
                        font-family: 'cairoR';
                        color: #707070;
                        line-height: 1.7;
                        margin: 11px 0 34px 0;
                    }
                    .btn{
                        width: 100%;
                        height: 44px;
                        margin: 43px auto;
                        border-radius: 50px;
                        background-color:#7b86fa;
                        h3{
                            color: #fff;
                            font-size: 14px;
                            font-family: 'cairoR';
                            display: inline-block;
                            margin: 8px 0 0 0;
                        }
                        img{
                            width: auto;
                            float: left;
                        }
                    }
                }
            }
            /* more button*/
            .more{
                position: relative;
                margin: 64px auto 69px auto;
                width: 205px;
                text-align: center;
                .right{
                    position: absolute;
                    top: -19px;
                    right: -44px;
                    width: auto;
                }
                .left{
                    position: absolute;
                    top: 11px;
                    left: -37px;
                    width: auto;
                }
                button{
                    outline: 0;
                    position: relative;
                    width: 197px;
                    height: 53px;
                    border: 2px solid #ECECEC;
                }
            }
        }
    }
}
/*--- End My Courses ---*/
