/*-- font style --*/
@font-face {
    font-family: "cairoB";
    src: url('../font/Cairo-Bold.ttf')
}

@font-face {
    font-family: "cairoR";
    src: url('../font/Cairo-Regular.ttf')
}

@font-face {
    font-family: "airR";
    src: url('../font/AirStripR.ttf')
}

/*-- import --*/
@import 'sass/helpers/variabels';
@import 'sass/helpers/mixins';

@import 'sass/layout/navbar';
@import 'sass/layout/header';
@import 'sass/pages/homepage';
@import 'sass/pages/resetPassword';
@import 'sass/components/buttons';
@import 'sass/layout/footer';

/*-- body style --*/
body {
    box-sizing: content-box;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
}
.web {
    position: relative;
    overflow: hidden;
}

/*--- start navbar ---*/
.top{
    background-color: #fff;
    .search{
        form{
            input{
                background-color:#FAFAFA;
            }
        }
    }
    .lang{
        background-color: #fff;
        border: 2px solid #ECEAEA;
        padding: 3px 1px 0 0;
        h3{
            color: #474747;
        }
    }
}
/*--- End navbar ---*/

/*--- START password ---*/
.password{
    padding: 50px 0;
    margin: 80px 0 50px 0;
    text-align: center;
    .enter{
        margin: 42px auto;
        max-width: 372px;
        height: auto;
        padding: 20px;
        position: relative;
        svg{
            position: absolute;
            top: 0;
            left: 52px;
            width: auto;
        }
        h3{
            color: $textColor;
            font-size: 18px;
            font-family: 'cairoR';
            margin: 0 0 40px 0;
        }
        form{
            .inp{
                position: relative;
                margin-bottom: 15px;
                img{
                    position: absolute;
                    top: 22px;
                    right: 12px;
                }
                .closee{
                    left: 12px;
                }
            }
            .next{
                position: relative;
                height: 66px;
                margin: 20px 0 -3px 0;
                .nexx{
                    position: absolute;
                    top: 6px;
                    left: 0;
                    width: auto;
                }
                img{
                    position: absolute;
                    width: auto;
                    left: 18px;
                    top: 20px;
                }
            }
        }
    }
}
/*---   End password ---*/
