<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    <link rel="icon" type="image/png" sizes="128x128" href="statics/icons/logoB.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/logoB.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/logoB.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/logoB.png">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>

    <script src="https://js.stripe.com/v3/"></script>
    <!-- <script src="https://www.paypal.com/sdk/js?client-id=AdvutJ3JCYNBJ9O76NnYt-tX3eQb0dmn8kcwgqmJkEH6H6TBKETvv1lm9LmPjpQdk-ZsDltE9dXwqcE_&disable-funding=credit,card,Online_betalen,sofort" data-sdk-integration-source="button-factory" data-namespace="paypal_sdk"></script> -->
    <script src="https://www.paypal.com/sdk/js?client-id=AdvutJ3JCYNBJ9O76NnYt-tX3eQb0dmn8kcwgqmJkEH6H6TBKETvv1lm9LmPjpQdk-ZsDltE9dXwqcE_"></script>
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
    <div id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr" style="width: 11px; z-index: 1000; background: rgb(255, 255, 255) none repeat scroll 0% 0%; cursor: default; position: fixed; top: 0px; height: 100%; right: 0px; display: block; opacity: 0;"><div style="position: relative; top: 0px; float: right; width: 11px; height: 120px; background-color: rgb(252, 199, 76); border: 0px none; background-clip: padding-box; border-radius: 0px;" class="nicescroll-cursors"></div></div>
    <div id="ascrail2000-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 11px; z-index: 1000; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: fixed; left: 0px; width: 100%; bottom: 0px; cursor: default; display: none; opacity: 0;"><div style="position: absolute; top: 0px; height: 11px; width: 1010px; background-color: rgb(252, 199, 76); border: 0px none; background-clip: padding-box; border-radius: 0px;" class="nicescroll-cursors"></div></div>
  </body>
  <script>
    window.Stripe = Stripe
    window.Paypal = paypal
  </script>
</html>
